footer.footer 
    .container 
        .footer__blocks
            .footer__block 
                h3 Ассортимент
                ul 
                    li: a.link(href="") Лекарства и БАД
                    li: a.link(href="") Красота и гигиена
                    li: a.link(href="") Линзы
                    li: a.link(href="") Мать и дитя
            .footer__block.footer__block--margin
                ul 
                    li: a.link(href="") Медицинские товары
                    li: a.link(href="") Медтехника
                    li: a.link(href="") Зоотовары
                    li: a.link.link--green(href="") Весь каталог
            .footer__block
                h3 Сервис
                ul 
                    li: a.link(href="") О компании
                    li: a.link(href="") Доставка
                    li: a.link(href="") Самовывоз
                    li: a.link(href="") Оплата
            .footer__block 
                h3 Обратная связь
                ul 
                    li: a.link(href="") Контакты
                    li: a.link(href="") Реклама на сайте
                    li: a.link(href="") Франшиза
                    li: a.link.link--green(href="") Работа в Аптеке
        .footer__blocks.footer__blocks-bottom
            a.delivery__head-contact(href="tel:84957305300") Связаться с нами
            a.footer__blocks-bottom-link(href="" target='_blanc') Конфиденциальность
            a.footer__blocks-bottom-link(href="" target='_blanc') Пользовательское соглашение
            span © 2021 local pharm