section.application
    .container 
        .application__wrapper
            h2 Скачай приложение 
                br 
                |и экономь еще больше
            .application__block
                a.application__link(href="https://www.apple.com/ru/app-store/" target='_blanc')  
                    img(src="./wp-content/themes/LOCAL-PHARM/assets/img/app.png", alt="")
                a.application__link(href="https://play.google.com/store/apps/details?id=com.vkontakte.android" target='_blanc') 
                    img(src="./wp-content/themes/LOCAL-PHARM/assets/img/google-play-badge.png", alt="")